<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIkZg7M4UsMUU1pwRv3pj0tIZ7Dmy6aVs</string>
	<key>GCM_SENDER_ID</key>
	<string>826166015290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.traehugh.loginReg</string>
	<key>PROJECT_ID</key>
	<string>mini-project-27d3a</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-project-27d3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826166015290:ios:209293dc6512f7ee6a0c03</string>
</dict>
</plist>